<div class="container" id="show">

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<input type="checkbox" <%= @task.completed ? 'checked' : '' %>>

<label for="checkbox">This task is completed</label>

<div class="button-51" id="edit">
 <%= link_to "Edit a task", edit_task_path %>
</div>

<div class="button-51" id="back">
<%= link_to("Back", index_path) %>
</div>

</div>
